body {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/martin-jernberg-nE2gf1scItI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.history-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

.anim-bg {
    opacity: 0;
    animation: come-in 0.2s linear forwards;
}

@keyframes come-in {
    100% {
        opacity: 1;
    }
}

/* Navigation bar */
nav-container {
    position: absolute;
    justify-content: center;
}

nav {
    overflow: hidden;
    position: sticky;
    max-width: 100vw;
    padding: 30px;
    z-index: 100;
    display: block;
}

nav img {
    position: relative;
    display: inline-block;
    left: 5%;
    height: 45px;
    width: 45px;
}

/* Team title */
.title {
    z-index: 4;
    position: absolute;
    left: 42%;
    top: 30%;
    font-family: Comic Sans MS;
    font-size: 35px;
    font-weight: 500;
}

/* Search Box */
.box {
    position: relative;
    float: right;
    right: 5%;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    background-image: url(../Images/search-interface-symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    border: 2px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #000000;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: transparent;
    /* background-color: rgb(252, 202, 186, 0.6); */
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffffff;
    transition: .1s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

hr {
    position: relative;
    top: 0px;
    max-width: 100vw;
    overflow: hidden;
    margin: 0px 100px;
    border: 2px solid black;
    border-radius: 3px;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.2s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.sticky { 
    position: fixed; 
    top: 0; 
    width: 100%; 
} 

/* Side navigation bar */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #000000;
    font-size: 25px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}