body {
    margin: 0;
    /* padding:0; */
}

/* Background styling */
.background {
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

/* Greetings */
.greet {
    overflow: hidden;
    position: absolute;
    top: 35%;
    left: 43%;
    color: black;
}

.greet p {
    width: 0%;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 70px;
    font-weight: 450;
    border-right: .15em solid rgb(255, 255, 255);
    border-color: transparent;
    letter-spacing: 0em;
    animation:
        typing 2s steps(100, end) 2s,
        blink-caret .75s step-end 6;
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0;
    }

    20% {
        width: 100%;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 0, 0);
    }
}

/* Home page ethics */
.main-page {
    background-image: url(../Images/martin-jernberg-nE2gf1scItI-unsplash.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.anim-bg {
    opacity: 0;
    animation: come-in 0.2s linear forwards;
    animation-delay: 5s;
}

@keyframes come-in {
    100% {
        opacity: 1;
    }
}

/* Navigation bar */
nav-container {
    position: absolute;
    justify-content: center;
}

nav {
    max-width: 100vw;
    padding: 30px;

}

nav img {
    position: relative;
    display: inline-block;
    left: 5%;
    height: 45px;
    width: 45px;
}

/* Team title */
.title {
    z-index: 4;
    position: absolute;
    left: 42%;
    top: 30%;
    font-family: Comic Sans MS;
    font-size: 35px;
    font-weight: 500;
}

/* Search Box */
.box {
    position: relative;
    float: right;
    right: 5%;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    background-image: url(../Images/search-interface-symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    /* background-color: rgb(252, 202, 186, 0.6); */
    border: 2px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #000000;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: transparent;
    /* background-color: rgb(252, 202, 186, 0.6); */
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ffffff;
    transition: .1s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

hr {
    position: relative;
    top: 0px;
    max-width: 100vw;
    overflow: hidden;
    margin: 0px 100px;
    border: 2px solid black;
    border-radius: 3px;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 5.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

/* Short summery */
.content1 {
    position: absolute;
    max-width: 800px;
    left: 10%;
    top: 25%;
    color: #ffffff;
}

.content1 h1 {
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

.content1 h1:nth-child(1) {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 725px;
    animation: 
        type 4s steps(40, end) forwards, 
        blink .75s step-end infinite;
    animation-delay: 5.3s;
}

/* H1 typing animation */
@keyframes type {
    0% {
        opacity: 1;
        width: 0;
    }

    1%,
    100% {
        opacity: 1;
        border-right: 4px solid rgb(255, 0, 0);
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.content1 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.anim-paragraph {
    opacity: 0;
    transform: translatey(10%);
    animation: moveup 0.5s linear forwards;
    animation-delay: 5.3s;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translatey(0%);
    }
}

.content2 {
    position: absolute;
    width: 300px;
    height: 400px;
    right: 10%;
    top: 27%;
    background: transparent;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: .2s;
    color: white;
}

.anim-shortlinks {
    opacity: 0;
    transform: translateX(10%);
    animation: moveleft 0.5s linear forwards;
    animation-delay: 5.3s;
}

@keyframes moveleft {
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #000000;
    font-size: 25px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

/* scrolling Animation Styling below this */

.scroll_list{
    padding-inline:0;
    list-style: none;
}

.scroll_list li{
    padding:1rem;
    background: red;
    box-shadow: 0.5rem 0.5rem 05.rem 05.rem black;
    min-width: 300px;
    min-height:300px
}

.scroller{
    /* align-self: center; */
    max-width:1200px;
    border: 3px solid black;
    margin:0 auto;
    background: transparent;
    position: relative;
    top: 80%;
}

.scroller_inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
}

/* BELOW IS THE ANIMATION CODE */

.scroller[data-animated="true"]{
    overflow: hidden;    
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 90%,
        transparent);
    mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 90%,
        transparent);
}

.scroller[data-animated="true"] .scroller_inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: 
        scroll 
        var(--_animation-duration,40s) 
        var(--_animation-direction,forwards)
        linear infinite;
}


/* CUSTOM PROPERTIES BELOW :- DURATION , DIRECTION */

.scroller[data-direction="right"]{
    --_animation-direction:reverse;
}

.scroller[data-direction="left"]{
    --_animation-direction:forwards;
}

.scroller[data-duration="fast"]{
    --_animation-duration:20s;
}

.scroller[data-duration="slow"]{
    --_animation-duration:60s;
}

/* BELOW CODE SPECIFIES KEYFRAMES */

@keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
        /* CAN PUT 100% INSTEAD FOR MOVING TO RIGHT */
    }
}

.anim-scroller {
    opacity: 0;
    transform: translateY(10%);
    animation: moveup 0.2s linear forwards;
    animation-delay: 5.3s;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}