@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap'); */
/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* </style> */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-heading{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
  }
  
  .inter-mid{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #F4F1DE; */
    /* background-color: #FFEEA9; */
    background-color: #f8f8d3;
}

::-webkit-scrollbar {
    display: none;
}

.foot {
    position: relative;
    background-color: #2E2E2E;
    top: 150%;
    height: 400px;
    width: 100vw;
    color: #F4F1DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    outline: none;
    background-color: #E54848;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 50%;
    scale: 0.6;
    transition: 0.3s;
}

#myBtn:hover {
    background-color: #555;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    position: relative;
    /* transform: translateX(-50%); */
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

.box {
    position: relative;
    right: 0;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    background-image: url(../../Images/search_24dp_F4F1DE_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    border: 2px solid #F4F1DE;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #F4F1DE;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: transparent;
    border-right: 4px solid #F4F1DE;
    border-bottom: 4px solid #F4F1DE;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #F4F1DE;
    transition: .1s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 20px 20px 8px 32px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

main {
    position: relative;
    background-size: cover;
    background-position: center;
}

.shortcuts {
    /* background-color: #2E2E2E; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    /* color: #2E2E2E; */
}

.shortcuts a::before,
.shortcuts a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.shortcuts a::before {
    background-color: #E54848;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.shortcuts a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #E54848;
}

.shortcuts a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.shortcuts a:hover::after {
    transform: translate3d(0, 0, 0);
}

.shortcuts a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.shortcuts a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.monument {
    position: relative;
    margin: 100px;
    overflow: hidden;
}

.intro-monument {
    overflow: hidden;
    position: relative;
    color: #2E2E2E;
}

.intro-monument h1 {
    cursor: default;
    width: 1050px;
    opacity: 0;
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    animation:
        type 4s steps(40, end) forwards,
        blink .75s step-end infinite;
    animation-delay: 0.3s;
}

@keyframes type {
    0% {
        opacity: 1;
        width: 0;
    }

    1%,
    100% {
        opacity: 1;
        border-right: 6px solid #2E2E2E;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.intro-monument p {
    position: relative;
    cursor: default;
    padding: 20px;
    padding-left: 0;
    font-size: 40px;
}

.anim-paragraph {
    opacity: 0;
    transform: translatey(10%);
    animation: moveup 0.5s linear forwards;
    animation-delay: 0.3s;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translatey(0%);
    }
}

.card {
    margin: 50px 100px 100px;
    position: relative;
    top: 100px;
    height: 600px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover img {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.monument1 {
    background-color: #C40C0C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument1 h2 {
    margin: 30px 50px;
    font-size: 70px;
    color: #fff
}

.monument1 p {
    margin: 0 50px;
    font-size: 30px;
    color: #f8d290;
    font-weight: 500;
}

.monument1 img {
    height: 600px;
    width: 700px;
}

.monument2 {
    background-color: #FFD07F;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument2 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #E54848;
}

.monument2 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
}

.monument2 img {
    height: 600px;
    width: 700px;
}

.monument3 {
    background-color: #C40C0C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument3 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #fff;
}

.monument3 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
    font-weight: 500;
    color: #f8d290;
}

.monument3 img {
    height: 600px;
    width: 700px;
}

.monument4 {
    background-color: #FFD07F;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument4 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #E54848;
}

.monument4 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
}

.monument4 img {
    height: 600px;
    width: 700px;
}

.monument5 {
    background-color: #C40C0C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument5 h2 {
    margin: 30px 50px;
    font-size: 70px;
    color: #fff
}

.monument5 p {
    margin: 0 50px;
    font-size: 30px;
    color: #f8d290;
    font-weight: 500;
}

.monument5 img {
    height: 600px;
    width: 700px;
}

.monument6 {
    background-color: #FFD07F;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument6 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #E54848;
}

.monument6 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
}

.monument6 img {
    height: 600px;
    width: 700px;
}

.monument7 {
    background-color: #C40C0C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument7 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #fff;
}

.monument7 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
    font-weight: 500;
    color: #f8d290;
}

.monument7 img {
    height: 600px;
    width: 700px;
}

.monument8 {
    background-color: #FFD07F;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument8 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #E54848;
}

.monument8 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
}

.monument8 img {
    height: 600px;
    width: 700px;
}

.monument9 {
    background-color: #C40C0C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument9 h2 {
    margin: 30px 50px;
    font-size: 70px;
    color: #fff
}

.monument9 p {
    margin: 0 50px;
    font-size: 30px;
    color: #f8d290;
    font-weight: 500;
}

.monument9 img {
    height: 600px;
    width: 700px;
}

.monument10 {
    background-color: #FFD07F;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.monument10 h2 {
    margin: 30px 50px;
    font-size: 50px;
    color: #E54848;
}

.monument10 p {
    margin: 0px 50px 30px 50px;
    font-size: 30px;
}

.monument10 img {
    height: 600px;
    width: 700px;
}

@media(max-width:775px){
    .footer-container{
        width: 100%;
    }
}

@media(max-width:650px){

    .footer-container{
        /* border-top: 2px solid white; */
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content{
        width: 100%;
    }

    .Contact{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right:0px;
        /* border-top:2px solid #fff; */
    }

    /* .Contact h3{
        padding-bottom: 10px;
    } */
    
    .Quick-links{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .Social{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bottom-bar{
        border-top: 2px solid #ffffff;
    }
}