@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-heading {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EAF5F1;
}

/* FONTS */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-mid {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    outline: none;
    background-color: #2E2E2E;
    color: white;
    cursor: pointer;
    padding: 15px;
    /* border: 2px solid white; */
    border-radius: 50%;
    scale: 0.6;
    transition: 0.3s;
    max-height: 90px;
    max-width: 90px;
}

#myBtn img {
    max-width: 60px;
}

#myBtn:hover {
    background-color: #555;
}

/* HEADER AND SIDE MENU STYLING BELOW */

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    position: relative;
    /* transform: translateX(-50%); */
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

::-webkit-scrollbar {
    display: none;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 20px 20px 8px 32px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

/* HEADER STYLING ENDS */

/* INTRO SECTION STYLING BELOW */

.intro-monuments {
    position: relative;
    height: 90vh;
    width: auto;
    overflow: hidden;
}

.intro-monu-head {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 0;
    font-size: 50px;
    text-align: center;
}

.intro-monu-para {
    z-index: 0;
    font-size: 25px;
    text-align: center;
    width: 80vw;
    margin: auto;
}

.intro-monuments img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    bottom: 0;
    /* left: -50%; */
}

/* MAP SECTION STYLING BELOW */

.map-section-container {
    position: relative;
    display: flex;
    /* background-color: #E54848; */
    background-color: #c5f5fa;
    height: 100%;
    padding-top: 100px;
}

.map-section {
    z-index: 0;
    top: 0;
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
    background: transparent;
    height: 90vh;
    width: 60%;
    /* justify-content: center;
    align-items: center; */
}

.path {
    fill: #4a9dae;
}

.map-side-textarea {
    /* padding-top: 20px; */
    /* border-left: 2px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.map-side-head {
    height: 30%;
    font-size: 50px;
    text-align: left;
    /* padding-left: 25px; */
}

.map-descriptions {
    padding-right: 10px;
    height: 70%;
    line-height: 1.5;
}

.description-box {
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    width: 30%;
    /* padding: 10px; */
    z-index: 100;
    opacity: 0;
    padding-left: 25px;
}

.description-box p{
    font-weight: 400;
    font-size: 18px;
}

.default-box{
    font-weight: 400;
    width: 100%;
    font-size: 18px;
}

/* MONUMENTS DIVS AND SECTION STYLING ENDS  */

.monuments-section {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #2E2E2E; */
    background-color: #77cbda;
    gap: 50px;
}

.monument-div {
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    background-color: #c5f5fa;
    /* box-shadow: #2d2d2d ; */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* .card-odd{
    background-color: rgb(185, 237, 250);
}

.card-even{
    background-color: #88d7ff;
    color: black;
} */

.monument-div img {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.monu-mid-head {
    /* border-right: 2px solid black; */
    width: 60%;
    /* text-align: center; */
}

.monu-mid-head h3 {
    padding-bottom: 10px;
}

.monu-mid-content {
    width: 40%;
    text-align: left;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.monu-mid-content h3{
    padding-bottom: 25px;
}

.default-box .describe-monu {
    font-size: 25px;
}

.default-box .hover-p {
    font-size: 25px;
    padding-top: 10px;
}

/* RESPONSIFYING Map Descriptions*/
@media (max-aspect-ratio: 1200/600) {
    .default-box .describe-monu {
        font-size: 15px;
    }

    .intro-monu-head {
        font-size: 30px;
    }

    .intro-monu-para {
        font-size: 20px;
    }

    .default-box .hover-p {
        font-size: 15px;
        padding-top: 7px;
    }

    .map-side-head {
        font-size: 30px;
    }

    .description-box {
        font-size: 15px;
    }
}

@media (max-aspect-ratio: 850/600){

    .map-section-container{
        flex-direction: column;
        height: 90vh;
        width: 100%;
        align-items: center;
        padding-top: 5%;
    }

    .map-section {
        height: 60%;
        width: 100%;
    }

    .map-side-textarea {
        height: 40%;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .default-box {
        width: 100%;
        font-size: 18px;
    }

    .intro-monu-head {
        font-size: 25px;
    }

    .intro-monu-para {
        font-size: 18px;
    }

    .description-box {
        width: 100%;
        left: 0;
    }

    .description-box p{
        font-size: 13px;
    }

    .map-side-head {
        font-size: 20px;
    }

    .monument-div {
        flex-direction: column;
        width: 100%;
        align-items: center;
        overflow: hidden;
        height: 100%;
    }

    .monu-mid-head h3 {
        font-size: 25px;
    }

    .monu-mid-content {
        padding-top: 10%;
        font-size: 18px;
        width: 90%;
        text-align: center;
    }
}

/* FOOTER STYLING BELOW */

footer {
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    z-index: 10;
    color: #D3D3D3;
}

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
    /* border-right: 2px solid #343434; */
}

.footer-container h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-list {
    padding: 0;
}

.footer-list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.footer-list li:hover::before {
    width: 70px;
}

.Social {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.Social iframe {
    width: 100%;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    color: #D3D3D3;
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #2e2e2e;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.bottom-bar p {
    color: #d3d3d3;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.Contact {
    border-right: 2px solid #ffffff;
}

.Quick-links {
    border-right: 2px solid #ffffff;
}

@media(max-width:775px) {
    .footer-container {
        width: 100%;
    }
}

@media(max-width:650px) {

    .footer-container {
        /* border-top: 2px solid white; */
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        width: 100%;
    }

    .Contact {
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        /* border-top:2px solid #fff; */
    }

    .Quick-links {
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .Social {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bottom-bar {
        border-top: 2px solid #ffffff;
    }
}