@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-style: normal;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    position: relative;
    /* transform: translateX(-50%); */
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

.box {
    position: relative;
    right: 0;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    background-image: url(../../Images/search_24dp_F4F1DE_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    border: 2px solid #F4F1DE;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #F4F1DE;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: transparent;
    border-right: 4px solid #F4F1DE;
    border-bottom: 4px solid #F4F1DE;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #F4F1DE;
    transition: .1s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 20px 20px 8px 32px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

main {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

p {
    margin: 10px 120px 10px 10px;
}

.intro {
    margin: 100px 50px;
    background-color: rgb(221, 176, 93);
    padding: 20px;
}

.intro .heading1 {
    max-width: fit-content;
}

.intro .heading1 h1 {
    /* color: white; */
    /* background-color: #000000; */
    cursor: default;
    margin: 10px 0;
    width: 100%;
    font-size: 70px;
}

.intro .paragraph p {
    margin: 10px;
    font-size: 40px;
}

.intro .intro-description p {
    font-size: 25px;
}

.explore {
    margin: 100px 50px;
    /* background-color: rgb(221, 176, 93); */
    padding: 20px;
}

.explore .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore .heading2 h1 {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.card1 {
    height: 600px;
    width: 600px;
    margin: 20px;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        transition: opacity .2s ease-out;
        z-index: -1;
    }
}

.card1 a,
.card2 a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    vertical-align: top;
}

.card1 a, .card2 a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.card1 a::before, .card2 a::before,
.card1 a::after, .card2 a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.card1 a::before, .card2 a::before {
    background-color: yellow;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.card1 a::after, .card2 a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: yellow;
}

.card1 a:hover::before, .card2 a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.card1 a:hover::after, .card2 a:hover::after {
    transform: translate3d(0, 0, 0);
}

.card1 a span, .card2 a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.card1 a:hover span, .card2 a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.card1 h3 {
    text-align: center;
}

.card1 p {
    margin: 20px;
    text-align: center;
}

.explore .music1 h3 {
    font-size: 30px;
    margin: 10px 0;
}

.explore .music1 p {
    font-size: 25px;
}

.explore .music2 h3 {
    font-size: 30px;
    margin: 10px 0;
}

.explore .music2 p {
    font-size: 25px;
}

.explore .row2 {
    display: flex;
    justify-content: center;
    align-items: centers;
}

.explore .music3 h3 {
    font-size: 30px;
    margin: 10px 0;
}

.explore .music3 p {
    font-size: 25px;
}

.explore .music4 h3 {
    font-size: 30px;
    margin: 10px 0;
}

.explore .music4 p {
    font-size: 25px;
}

.events {
    margin: 100px 50px;
}

.events .heading3 h1 {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.events .flex1 {
    display: flex;
    justify-content: center;
}

.card2 {
    height: 600px;
    width: 600px;
    margin: 20px;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        transition: opacity .2s ease-out;
        z-index: -1;
    }
}

.card2 p {
    margin: 20px;
}

.events .festivals h3 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

.events .festivals p {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.events .culture h3 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

.events .culture p {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.community {
    margin: 100px 50px;
}

.community .social h1 {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
}

.community .social p {
    font-size: 25px;
    text-align: center;
    margin: 20px 200px;
}

footer{
    margin:0;
    padding:0;
    background-color: #2E2E2E;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    z-index:10;
}

.footer-container{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
    /* border-right: 2px solid #343434; */
}

.footer-container h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width:190px;
    margin:auto;
    padding:7px;
}

.footer-content ul{
    text-align: center;
}

.footer-list{
    padding:0;
}

.footer-list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding:7px;
    position: relative;
}

.footer-list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:100%;
    width:0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.footer-list li:hover::before{
    width:70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color:white; 
    font-size: 25px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color: #f18930;
}

.social-icons i:hover{
    color:#f18930;
}

.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin:0;
    font-size: 16px;
    padding: 7px;
}

.Contact{
    border-right:2px solid #ffffff;
}

.Quick-links{
    border-right:2px solid #ffffff;
}