@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #ffffff; */
    background-color: #F0F8FF;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-heading{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
  }
  
  .inter-scroll{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  }
  
  
  .inter-uniquifier{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  

::-webkit-scrollbar {
    display: none;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-style: normal;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    position: relative;
    /* transform: translateX(-50%); */
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 20px 20px 8px 32px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

main {
    position: relative;
    background-size: cover;
    background-position: center;
}

.intro {
    margin: 50px 50px;
    background-color: #5ff4ff;
    padding: 25px;
    /* margin: 100px 50px; */
    /* background-color:powderblue; */
    padding: 50px 25px 50px 25px; 
    border-radius: 5px;
    text-align: center;
}

.intro .heading1 {
    max-width: fit-content;
    padding-bottom: 50px;
    /* text-align: center; */
}

.intro .heading1 h1 {
    cursor: default;
    /* margin: 30px 0; */
    width: 100%;
    font-size: 70px;
    color: #263138;
    text-align: center;
}

.intro .paragraph1 p {
    font-size: 30px;
}

.about {
    /* margin: 100px 50px; */
    background-color: #32d6e2;
    margin: 100px 50px;
    padding: 25px;
    border-radius: 5px;
}



.about .heading2 h1 {
    font-size: 40px;
    /* margin: 30px 0; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.about .paragraph2 p {
    /* margin: 0 100px; */
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.explore {
    margin: 100px 50px;
    background-color: #14c5d2;
    padding: 25px;
    border-radius: 5px;
}

.explore .heading3 h1 {
    text-decoration: 2px underline dashed;
    text-align: center;
    font-size: 70px;
    padding-bottom: 20px;
    /* margin: 30px 0; */
}

.explore .historical-art .heading4 h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: 2px underline dashed;
    /* margin: 30px 0; */
    padding-bottom: 30px;
    padding-top: 30px;
}

.box-content{
    /* padding-top:50px; */
    color:#D3D3D3;
}

.content1 {
    display: flex;
    justify-content: center;
}

.box1 {
    margin: 20px;
    position: relative;
    width: 400px;
    height: 400px;
    /* margin: 10px; */
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box1 img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.description1 {
    transform: translateY(330px);
    padding: 20px;
    height: 100%;
    background-color: #2E2E2E;
    position: absolute;
    transition: .3s;
}

.description1 h3 {
    font-size: 30px;
    position: absolute;
    color: #D3D3D3;
}

.description1 p {
    opacity: 0;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 20px;
    /* color:#D3D3D3; */
}

.box1:hover p {
    opacity: 1;
}

.box1:hover .description1 {
    transform: translateY(0);
}

.explore .contemporary-art {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 100px; */
}

.explore .contemporary-art .heading5 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid black;
}

.explore .contemporary-art .heading5 h1 {
    font-size: 50px;
    margin: 30px 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

.explore .contemporary-art .content2 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore .contemporary-art .content2 p {
    font-size: 25px;
    margin: 20px 0px;
}

.explore .folk-art .heading6 h1 {
    /* margin: 30px 0; */
    font-size: 50px;
    text-align: center;
    text-decoration: 2px underline dashed;
    padding-bottom: 30px;
    padding-top: 30px;
}

.explore .folk-art .content3 {
    display: flex;
    justify-content: center;
}

.box2 {
    margin: 20px;
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    /* margin: 10px; */
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.explore .folk-art .content3 .box2 p {
    margin: 0;
}

.explore .folk-art .content3 .box2 {
    overflow: hidden;
}

.box2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.description2 {
    transform: translateY(280px);
    padding: 20px;
    height: 100%;
    background-color: #2E2E2E;
    position: absolute;
    transition: .3s;
}

.description2 h3 {
    font-size: 25px;
    position: absolute;
    color: #D3D3D3;
}

.description2 p {
    opacity: 0;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 20px;
}

.box2:hover p {
    opacity: 1;
}

.box2:hover .description2 {
    transform: translateY(0);
}

.explore .performing-art .heading7 h1 {
    /* margin: 30px 0; */
    text-align: center;
    font-size: 50px;
    text-decoration: 2px underline dashed;
    padding-bottom: 30px;
    padding-top: 30px;
}

.explore .performing-art .content4 {
    display: flex;
    justify-content: center;
}

.box3 {
    margin: 20px;
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box3 img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.description3 {
    transform: translateY(280px);
    padding: 20px;
    height: 100%;
    background-color: #2E2E2E;
    position: absolute;
    transition: .3s;
}

.description3 h3 {
    font-size: 25px;
    position: absolute;
    color: #D3D3D3;
}

.description3 p {
    opacity: 0;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 20px;
}

.box3:hover p {
    opacity: 1;
}

.box3:hover .description3 {
    transform: translateY(0);
}

.explore .literature .heading8 h1 {
    /* margin: 30px 0; */
    font-size: 50px;
    text-align: center;
    text-decoration: 2px underline dashed;
    padding-bottom: 30px;
    padding-top: 30px;
}

.explore .literature .content5 {
    display: flex;
    justify-content: center;
}

.box4 {
    margin: 20px;
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box4 img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.description4 {
    transform: translateY(330px);
    padding: 20px;
    height: 100%;
    background-color: #2E2E2E;
    position: absolute;
    transition: .3s;
}

.description4 h3 {
    font-size: 30px;
    position: absolute;
    color: #D3D3D3;
}

.description4 p {
    opacity: 0;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 20px;
}

.box4:hover p {
    opacity: 1;
}

.box4:hover .description4 {
    transform: translateY(0);
}

.explore .crafts .heading9 h1 {
    margin: 30px 0;
    font-size: 50px;
    text-align: center;
    text-decoration: 2px underline dashed;
    padding-bottom: 30px;
    padding-top: 30px;
}

.explore .crafts .content6 {
    display: flex;
    justify-content: center;
}

.box5 {
    margin: 20px;
    position: relative;
    width: 500px;
    height: 500px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box5 img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity .2s ease-out;
}

.description5 {
    transform: translateY(430px);
    padding: 20px;
    height: 100%;
    background-color: #2E2E2E;
    position: absolute;
    transition: .3s;
}

.description5 h3 {
    font-size: 30px;
    position: absolute;
    color: #D3D3D3;
}

.description5 p {
    opacity: 0;
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 25px;
}

.box5:hover p {
    opacity: 1;
}

.box5:hover .description5 {
    transform: translateY(0);
}

.explore .fests {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.explore .fests .heading10 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid black;
}

.explore .fests .heading10 h1 {
    font-size: 50px;
    margin: 30px 0;
}

.explore .fests .content7 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore .fests .content7 p {
    font-size: 25px;
    margin: 20px;
}

.explore .museums {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.explore .museums .heading11 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 4px solid black;
}

.explore .museums .heading11 h1 {
    font-size: 50px;
    margin: 30px 0;
}

.explore .museums .content8 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore .museums .content8 p {
    font-size: 25px;
    margin: 20px;
}

.explore .community .heading12 h1 {
    margin: 30px 0;
    font-size: 50px;
    text-align: center;
}

.explore .community .content9 p {
    margin: 0;
}

.explore .community .content9 p {
    font-size: 25px;
    text-align: center;
}

@media (max-width: 1200px) {
    .intro .paragraph1 p {
        margin: 0;
    }
    .about .paragraph2 p {
        margin: 0;
    }
    .content1 {
        flex-direction: column;
        align-items: center;
    }
    .content3 {
        flex-direction: column;
        align-items: center;
    }
    .content4 {
        flex-direction: column;
        align-items: center;
    }
    .content5 {
        flex-direction: column;
        align-items: center;
    }
    .content6 {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .contemporary-art {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .contemporary-art .heading5 h1{
        text-align: center;
    }
    .contemporary-art .content2 p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .fests {
        flex-direction: column;
        align-items: center;
    }
    .fests .heading10 h1{
        text-align: center;
    }
    .fests .content7 p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .museums {
        flex-direction: column;
        align-items: center;
    }
    .museums .heading11 h1{
        text-align: center;
    }
    .museums .content8 p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 630px) {
    .box5 {
        scale: 0.8;
    }
}

@media (max-width: 500px) {
    .box1 {
        scale: 0.7;
    }
    .box2 {
        scale: 0.7;
    }
    .box3 {
        scale: 0.7;
    }
    .box4 {
        scale: 0.7;
    }
    .box5 {
        scale: 0.7;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    }
    .box1 {
        scale: 0.5;
        margin: 5px;
    }
    .box2 {
        scale: 0.5;
        margin: 5px;
    }
    .box3 {
        scale: 0.5;
        margin: 5px;
    }
    .box4 {
        scale: 0.5;
        margin: 5px;
    }
    .box5 {
        scale: 0.5;
        margin: 5px;
    }
}

footer {
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    z-index: 10;
    color: #D3D3D3;
    border-top: 2px solid #504f4f;
}

.footer-container {
    /* border-top: 2px solid white; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
    /* border-right: 2px solid #343434; */
}

.footer-container h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    /* border-top: 2px solid white; */
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-list {
    padding: 0;
}

.footer-list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.footer-list li:hover::before {
    width: 70px;
}

.Social{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.Social iframe{
    width: 100%;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    color: #D3D3D3;
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #2e2e2e;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.bottom-bar p {
    color: #d3d3d3;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.Contact {
    border-right: 2px solid #ffffff;
}

.Quick-links {
    border-right: 2px solid #ffffff;
}

@media(max-width:775px){
    .footer-container{
        width: 100%;
    }
}

@media(max-width:650px){

    .footer-container{
        /* border-top: 2px solid white; */
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content{
        width: 100%;
    }

    .Contact{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right:0px;
        /* border-top:2px solid #fff; */
    }

    /* .Contact h3{
        padding-bottom: 10px;
    } */
    
    .Quick-links{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .Social{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bottom-bar{
        border-top: 2px solid #ffffff;
    }
}