@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #2E2E2E; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-heading{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-mid{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.inter-uniquifier{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-style: normal;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        backdrop-filter: blur(8px);
    }
}

@media (max-width: 800px) {
    .title {
        display: none;
    }
}

/* Sidebar menu */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2E2E2E;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.slide-anim {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color: #818181;
}

main {
    height: 100vh;
    width: 100vw;
    /* color: #36454F; */
}

.intro{
    height: 100vh;
    background-color:#c5f5fa;
}

/* Intro Section */
.short-intro {
    /* height: 100vh; */
    width: auto;
    height: 100%;
    /* background-color: #2E2E2E; */
    /* color: #F4F1DE; */
    line-height: 1.5;
    /* padding-right: 50px;
    padding-left: 50px; */
    /* z-index: 0; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.short-intro h1 {
    font-size: 70px;
    color: #22292d;
    padding-bottom: 15px;
    z-index: 1;
}

.short-intro h3 {
    font-size: 40px;
    padding-bottom: 10px;
    z-index: 1;
}

.short-intro p {
    font-size: 25px;
    z-index: 1;
    width: 1000px;
    text-align: center;
    /* padding-left: 27%; */
}

/* Intro animation */
.anim-intro {
    opacity: 0;
    transform: translatey(10%);
    animation: moveup 0.5s linear forwards;
    animation-delay: 0.3s;
}

/* Map and Description box styling */
/* mapp is SECTION */
.map-section {
    z-index: 0;
    top: 0;
    position: relative;
    /* min-height: 100vh; Ensures that content is visible even if it overflows */
    overflow: auto; /* Allows scrolling if content exceeds the section height */
    /* padding: 20px; Add some padding to prevent content from touching edges */
    display: flex;
    justify-content: center;
    background-color: #2e4d58;
    border-top: 5px solid black;
    /* width: 50%; Adjust the width as needed */
    height: 100vh;
    margin: 0 auto; /* Center the SVG */
}


svg {
    width: 100%; /* Make the SVG take the full width of the container */
    height: auto; /* Maintain the aspect ratio */
    z-index: 1;
}

.path{
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}

.description-box {
    background-color:transparent;
    cursor: pointer;
    pointer-events: none;
    color: #f9f9f9;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    width: 30%;
    padding: 10px;
    z-index: 100;
    opacity: 0;
}

.path3-4-description{
    font-size: 25px;
}

img {
    height: 50px;
    width: 50px;
    opacity: 0;
    transform-origin: bottom;
    transform: rotateZ(-180deg);
    animation: pop-up 0.3s ease forwards;
}

@keyframes pop-up {
    100% {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

svg path {
    stroke: transparent;
    transition: transform 0.3s ease;
}

/* Position description boxes */
.path1-description {
    position: absolute;
    text-align: right;
    top: 25%;
    left: 10%;
}

.path2-description {
    position: absolute;
    top: 35%;
    left: 45%;
}

.path3-4-description {
    position: absolute;
    /* font-size: 15px; */
    top: 30%;
    left: 60%;
    width: 30%;
}

.path5-description {
    position: absolute;
    top: 43%;
    left: 52%;
}

.path6-description {
    text-align: right;
    position: absolute;
    top: 52%;
    left: 10%;
}

.path7-description {
    position: absolute;
    top: 67%;
    left: 40%;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translatey(0%);
    }
}

.map-heading1{
    font-size: 150px;
    max-width: 90%;
    position: absolute;
    top: 5%;
    left: 13%;
    text-align: center;
    z-index: -1;
    /* line-height:200px ; */
    padding-right: 20%;
    color: #d3d3d3;
}

.map-heading2{
    font-size: 200px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
    z-index: -1;
    color: #d3d3d3;
    /* line-height:200px ; */
    /* padding-right: 20%; */
}

.stroked-text {
    -webkit-text-stroke: 2px black; /* Stroke width and color */
}

.stroked-text-light {
    -webkit-text-stroke: 0.5px black; /* Stroke width and color */
}

.map-bg1{
    position: absolute;
    /* top: 0; */
    bottom: 120px;
    right: 0;
    min-width: 300px;
    height: auto;
    z-index: -10;
    /* padding-bottom: 120px; */
}

.map-bg2{
    position: absolute;
    /* top: 0; */
    bottom:120px;
    left: 0;
    min-width: 300px;
    height: auto;
    z-index: -10;
    /* padding-bottom: 120px; */
    /* transform: scaleX(-1); */
}
/* MAP ENDS */

.demo {
    display: flex;
    justify-content: center;
}

.demo a {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000000;
    /* font-size: 100px; */
    font: normal 400 25px/1 'Josefin Sans', sans-serif;
    /* letter-spacing: .1em; */
    text-decoration: none;
    transition: opacity .3s;
    height: 100px;
    margin: auto;
    padding: auto;
}

.demo a:hover {
    color: #000000;
    font-weight: 500;
}

#section03 a {
    padding-top: 60px;
}

#section03 a span {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 5px solid #474747;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 5px solid #585858;
    border-bottom: 5px solid #585858;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section03 a span::before {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgb(64, 64, 64);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Footer Section */
footer {
    border-top: 2px solid white;
    background-color: #2E2E2E;
    padding-top: 50px;
    z-index: 10;
    color: #d3d3d3;
}

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

.footer-container h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
    padding: 0;
}

.footer-list li {
    list-style-type: none;
    padding: 7px;
    position: relative;
    text-align: center;
}

.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.footer-list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    color: #d3d3d3;
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #2e2e2e;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.bottom-bar p {
    color: #d3d3d3;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.Contact {
    border-right: 2px solid #ffffff;
}

.Quick-links {
    border-right: 2px solid #ffffff;
}

/* MAKING THINGS RESPONSIVE */

@media (max-width: 1400px) {
    .short-intro h1{
        font-size: 55px;
        padding-bottom: 15px;
    }
    
    .short-intro h3{
        font-size: 32px;
        padding-bottom: 10px;
    }

    .short-intro p{
        font-size: 27px;
    }
}

@media (max-width: 1100px) {
    .short-intro h1{
        font-size: 50px;
        padding-bottom: 15px;
    }
    
    .short-intro h3{
        font-size: 30px;
        padding-bottom: 10px;
    }

    .short-intro p{
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .short-intro h1{
        font-size: 47px;
        padding-bottom: 15px;
    }
    
    .short-intro h3{
        font-size: 27px;
        padding-bottom: 10px;
    }

    .short-intro p{
        font-size: 22px;
    }
}

@media (max-width: 775px) {
    .short-intro h1{
        font-size: 44px;
        padding-bottom: 17px;
    }
    
    .short-intro h3{
        font-size: 24px;
        padding-bottom: 10px;
    }

    .short-intro p{
        font-size: 19px;
    }

    .footer-container{
        width: 100%;
    }
}

@media(max-width:650px){
    .short-intro h1{
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    .short-intro h3{
        font-size: 22px;
        padding-bottom: 12px;
    }

    .short-intro p{
        font-size: 17px;
    }

    .footer-container{
        /* border-top: 2px solid white; */
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content{
        width: 100%;
    }

    .Contact{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right:0px;
        /* border-top:2px solid #fff; */
    }

    /* .Contact h3{
        padding-bottom: 10px;
    } */
    
    .Quick-links{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    /* .Social{
        padding-top: 20px;
        padding-bottom: 20px;
    } */

    .bottom-bar{
        border-top: 2px solid #ffffff;
    }
}

@media (max-width: 520px) {
    .short-intro h1{
        font-size: 32px;
        padding-bottom: 25px;
    }
    
    .short-intro h3{
        font-size: 20px;
        padding-bottom: 15px;
    }

    .short-intro p{
        font-size: 15px;
    }
}