@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap'); */
/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* </style> */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-heading{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
  }
  
  .inter-mid{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F8FF;
    /* background-color: #FFEEA9; */
    /* background-color: #FFBF78; */
}

::-webkit-scrollbar {
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    outline: none;
    background-color: #2E2E2E;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50%;
    scale: 0.6;
    transition: 0.3s;
}

#myBtn:hover {
    background-color: #555;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-style: normal;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2E2E2E;
}

nav {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 50px;
    width: 50px;
}

.title {
    cursor: default;
    position: relative;
    /* transform: translateX(-50%); */
    font-size: 35px;
    font-weight: 500;
    color: #F4F1DE;
}

/* .box {
    position: relative;
    right: 0;
}

.input {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    background-image: url(../../Images/search_24dp_F4F1DE_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    border: 2px solid #F4F1DE;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #F4F1DE;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: transparent;
    border-right: 4px solid #F4F1DE;
    border-bottom: 4px solid #F4F1DE;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #F4F1DE;
    transition: .1s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
} */

/* Navbar animation */
.anim-nav {
    opacity: 0;
    transform: translateY(-100%);
    animation: movedown 1s linear forwards;
    animation-delay: 0.3s;
}

@keyframes movedown {
    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
    overflow-x: hidden;
    transition: 0.2s steps(100);
    padding-top: 60px;
    text-wrap: nowrap;
}

.slide-anim {
    right: 25px;
    padding: 20px 20px 8px 32px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #F4F1DE;
    display: block;
    transition: 0.3s;
}

.slide-anim:hover {
    color: #E54848;
    font-size: 27px;
    transform: translateX(10px);
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 50px;
    color: #818181;
}

main {
    position: relative;
    background-size: cover;
    background-position: center;
}

.shortcuts {
    /* background-color: #2E2E2E; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    /* color: #2E2E2E; */
}

.shortcuts a::before,
.shortcuts a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.shortcuts a::before {
    background-color: #E54848;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.shortcuts a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #E54848;
}

.shortcuts a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.shortcuts a:hover::after {
    transform: translate3d(0, 0, 0);
}

.shortcuts a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.shortcuts a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.dance {
    position: relative;
    margin: 50px;
    overflow: hidden;
    background-color:#FFEEA9;
}

.intro-dance {
    overflow: hidden;
    position: relative;
    color: #2E2E2E;
}

.intro-dance h1 {
    cursor: default;
    width: 1050px;
    font-size: 100px;
}

.intro-dance p {
    position: relative;
    cursor: default;
    padding: 20px;
    padding-left: 0;
    font-size: 40px;
    /* text-transform: uppercase; */
}

.anim-paragraph {
    opacity: 0;
    transform: translatey(10%);
    animation: moveup 0.5s linear forwards;
    animation-delay: 0.3s;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translatey(0%);
    }
}

.card {
    margin: 50px 100px 100px;
    position: relative;
    top: 100px;
    height: 700px;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 10px 10px 10px 10px;
}

.card:hover img{
    transition: transform 0.3s;
    transform: scale(1.05); 
}

.dance-section{
    /* background-color:#0FA4AF; */
    background-color: #14c5d2;
    border-radius: 5px;
    padding:25px 0px 25px 25px;
    border: 2px solid black;
}

.dance1 {
    /* background-color: #c63131; */
    /* background-color: #FF6500; */
    /* background-color: #C40C0C; */
    background-color: #024;
    /* color:#ffc25a; */
    /* color: #FFC100;  */
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.dance1 h2 {
    margin: 30px 50px;
    font-size: 45px;
    /* color:#f8d290; */
    color:#fff;
}

.dance1 p {
    margin: 30px 50px 0 50px;
    font-size: 24px;
    color:#f8d290;
    font-weight: 500;
}

.dance1 img {
    height: 700px;
    width: 700px;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

.dance2 {
    /* background-color: #F4F1DE;
    color: #E54848; */
    background-color: powderblue;
    /* color: #E26A2C; */
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.dance2 h2 {
    margin: 30px 50px;
    font-size: 45px;
    color:#2e3a43;
    /* color: white; */
}

.dance2 p {
    margin: 0px 50px 30px 50px;
    font-size: 24px;
    color:#494642;
}

.dance2 img {
    height: 700px;
    width: 700px;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.dance3 {
    /* background-color: #E54848; */
    /* background-color: #c63131;
    color: #F4F1DE; */
    /* background-color: #C40C0C; */
    background-color: #024;
    /* color:#ffc25a; */
    /* color: #FFC100; */
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.dance3 h2 {
    margin: 30px 50px;
    font-size: 45px;
    color:#fff;
}

.dance3 p {
    margin: 0px 50px 30px 50px;
    font-size: 24px;
    font-weight:500;
    color:#f8d290;
}

.dance3 img {
    height: 700px;
    width: 700px;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

.dance4 {
    /* background-color: #FFD07F; */
    background-color: powderblue;
    color: #E26A2C;
    display: flex;
    line-height: 1.4;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.dance4 h2 {
    margin: 30px 50px;
    font-size: 45px;
    /* color:#E54848; */
    color:#2e3a43;
}

.dance4 p {
    margin: 0px 50px 30px 50px;
    font-size: 24px;
    color:#494642;
}

.dance4 img {
    height: 700px;
    width: 700px;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.description, .image{
    width: 50%;
}

.image img{
    width: 100%;
}

/* Responsive Cards */
@media (max-aspect-ratio: 1200/600){
    .intro-dance{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .intro-dance > h1{
        font-size: 3rem;
    }
    .intro-dance > p{
        font-size: 2rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
    }
    .description h2{
        font-size: 2.5rem;
    }
    .description p{
        font-size: 1.5rem;
    }
    .description, .image{
        width: 100%;
    }
    .image{
        display: flex;
        justify-content: center;
    }
    .image img{
        width: auto;
        max-height: 300px;
    }
}

@media (max-aspect-ratio: 850/600){
    .card{
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
        height: 800px;
    }
    .dance-section{
        margin: 0px;
    }
}

@media (max-aspect-ratio: 700/600){
    .title{
        display: none;
    }
}

@media (max-aspect-ratio: 630/600){
    #myBtn{
        max-height: 100px;
        max-width: 100px;
    }
    #myBtn img{
        max-width: 50px;
    }
    .description p{
        font-size: 1rem;
    }
    .description h2{
        font-size: 1.5rem;
    }
    .card{
        height: 650px;
    }
    .image img{
        max-height: 200px;
    }
}

@media (max-aspect-ratio: 500/600){
    .card{
        margin: 10px 10px 10px 10px;
        height: 750px;
    }
    .dance-section{
        padding: 0px 0px 0px 0px;
    }
    .intro-dance{
        margin: 10px 20px 10px 20px;
    }
    .intro-dance > h1{
        font-size: 2.5em;
    }
    .intro-dance > p{
        font-size: 1.5em;
    }
}

@media (max-aspect-ratio: 400/600){
    .description p{
        font-size: 1rem;
    }
    .description h2{
        font-size: 1.5rem;
    }
    .card{
        padding: 0px 0px 0px 0px;
        height: 850px;
    }
    .dance1 h2{
        margin: 10px;
    }
    .dance1 p{
        margin: 10px;
    }
    .dance2 h2{
        margin: 10px;
    }
    .dance2 p{
        margin: 10px;
    }
    .dance3 h2{
        margin: 10px;
    }
    .dance3 p{
        margin: 10px;
    }
    .dance4 h2{
        margin: 10px;
    }
    .dance4 p{
        margin: 10px;
    }
}

@media (max-aspect-ratio: 350/600){
    .description p{
        font-size: 0.8rem;
    }
    .description h2{
        font-size: 1.2rem;
    }
    .image img{
        max-height: 150px;
    }
    .card{
        height: 900px;
    }
}

.cuisine {
    position: relative;
    margin: 50px;
    overflow: hidden;
    background-color:#0FA4AF;
    border-radius: 5px;
    padding:25px 0px 25px 25px;
    border: 2px solid black;
    background-image:url("../../Images/Plate.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.intro-cuisine {
    margin: 50px;
    overflow: hidden;
    position: relative;
    color: #2E2E2E;
}

.intro-cuisine h1 {
    cursor: default;
    width: 1050px;
    font-size: 100px;
}

.intro-cuisine{
    color: #000000;
}

.intro-cuisine p {
    position: relative;
    cursor: default;
    padding: 20px;
    padding-left: 0;
    font-size: 40px;
    /* text-transform: uppercase; */
}

.book-intro {
    display: flex;
    justify-content: center;
}

.book-container {
    margin: 50px 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.book {
    position: relative;
    width: 500px;
    height: 600px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 2000px;
    /* background-color: #FFD07F; */
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    /* background-color: #FFD07F; */
    border: 2px solid black;
    border-radius: 10px;
}

.cover-page{
    background-color: rgb(223, 213, 213);
}

.content-page-front{
    /* background-color: #FFD07F; */
    background-color: #c9f9ff;
    padding: 20px;
}

.content-page-back{
    /* background-color: #ffb769; */
    background-color: powderblue;
    padding: 20px;
}

.cover-page-back{
    background-color: rgb(223, 213, 213);
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    /* border-left: 3px solid powderblue; */
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
}

.back-content {
    transform: rotateY(180deg)
}

.back-content > h1{
    font-size: 50px;
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
.cuisine > .book-container > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

.cuisine > .book-container > button:focus {
    outline: none;
}

.cuisine > .book-container > button:hover .cuisine > .book-container > button > img {
    color: #636363;
}

.cuisine > .book-container > button > i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}

#p5 {
    z-index: 1;
}

#f1 {
    display: flex;
    align-items: center;
    padding: 10px;
}

#f1 > h1{
    font-size: 70px;;
}

#b1 {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right; padding: 10px;
}

#f2 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-size: 30px;
}

#b2 {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right; padding: 10px;
}

#f3 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-size: 30px;
}

#b3 {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right; padding: 10px;
}

#f4 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-size: 30px;
}

#b4 {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right; padding: 10px;
}

#f5 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    font-size: 30px;
}

#b5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#b5 > h1{
    font-size: 70px;
}

/* Responsive Flipbook */
@media (max-aspect-ratio: 1250/600){
    .intro-cuisine{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .intro-cuisine > h1{
        font-size: 3rem;
    }
    .intro-cuisine > p{
        font-size: 2rem;
    }
    .book{
        height: 400px;
        width: 300px;
    }
    .back-content > h1{
        font-size: 30px;
    }
    .front-content > p{
        font-size: 18px;
    }
    #f1 > h1{
        font-size: 50px;
    }
    #b5 > h1{
        font-size: 50px;
    }
}

@media (max-aspect-ratio: 850/600){
    .cuisine-section{
        margin: 20px 0px 0px 0px;
    }
    .intro-cuisine{
        margin: 25px;
    }
}

@media (max-aspect-ratio: 630/600){
    .book{
        height: 300px;
        width: 200px;
    }
    .back-content > h1{
        font-size: 20px;
    }
    .front-content > p{
        font-size: 10px;
    }
    #f1 > h1{
        font-size: 30px;
    }
    #b5 > h1{
        font-size: 30px;
    }
}

@media (max-aspect-ratio: 500/600){
    .intro-cuisine > h1{
        font-size: 2.5em;
    }
    .intro-cuisine > p{
        font-size: 1.5em;
    }
    .book{
        height: 250px;
        width: 150px;
    }
    .content-page-front, .content-page-back{
        padding: 5px;
    }
    .front-content > p{
        font-size: 9px;
    }
    #f1 > h1{
        font-size: 20px;
    }
    #b1 > h1{
        font-size: 10px;
    }
    .intro-cuisine{
        margin: 10px;
    }
}

@media (max-aspect-ratio: 400/600){
    .intro-cuisine > h1{
        font-size: 2rem;
    }
    .intro-cuisine > p{
        font-size: 1rem;
    }
}

footer{
    margin:0;
    padding:0;
    background-color: #2E2E2E;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    color:#D3D3D3;
    z-index:10;
}

.footer-container{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
    /* border-right: 2px solid #343434; */
}

.footer-container h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width:190px;
    margin:auto;
    padding:7px;
}

.footer-content ul{
    text-align: center;
}

.footer-list{
    padding:0;
}

.footer-list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding:7px;
    position: relative;
}

.footer-list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:100%;
    width:0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.footer-list li:hover::before{
    width:70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color:white; 
    font-size: 25px;
}

a{
    color:#D3D3D3;
    text-decoration: none;
}

a:hover{
    color: #f18930;
}

.social-icons i:hover{
    color:#f18930;
}

.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin:0;
    font-size: 16px;
    padding: 7px;
}

.Contact{
    border-right:2px solid #ffffff;
}

.Quick-links{
    border-right:2px solid #ffffff;
}

@media(max-width:775px){
    .footer-container{
        width: 100%;
    }
}

@media(max-width:650px){

    .footer-container{
        /* border-top: 2px solid white; */
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content{
        width: 100%;
    }

    .Contact{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right:0px;
        /* border-top:2px solid #fff; */
    }

    /* .Contact h3{
        padding-bottom: 10px;
    } */
    
    .Quick-links{
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .Social{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bottom-bar{
        border-top: 2px solid #ffffff;
    }
}